<div class="container">
    <div class="rpw">
	<h3>Software Engineering</h3>
	<p>In software engineering, there are two main things to consider not just programming and programming languages. The first is problem solving, which is where you must break a problem down into it's core components. Which could be for example who are you writing the code for, what does it actually need to do and how would you approach solving it. This allows you to break the task down into little sub-tasks, which can make it much easier for you to pick up from where you left off and to split work amongst people.

	Another main principle would be being Lazy, which is not really an apt name for it, as it is more like being opportunistically lazy. As you are trying to find the easiest and quickest way to do things whilst still producing a good quality end product. As if you were really being lazy you would most likely end up with a quite poor product. 

	So the main principles of being opportunistically lazy is to find the quickest and simplest method of doing something, without making things much harder for yourself in the future.</p>
    </div>
  </div>
</div>


